@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.professor-creator-overlay {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Más oscuro */
  z-index: 1050; /* Asegura que está por encima de otros elementos */
  overflow: hidden;
}


.professor-creator-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  padding-top: 40px; /* Space for the close 'X' */
  background-color: var(--default-background);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* For absolute positioning of the 'X' */
  animation: slideIn 0.5s;
  color: var(--default-text);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-save {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: fit-content;
  margin: 20px auto; /* Centered */
}

.btn-save:hover {
  background-color: #0056b3;
}

.close-button {
  cursor: pointer;
  font-size: 24px;
  color: var(--default-text);
  position: absolute;
  right: 15px;
  top: 15px;
}

.close-button:hover {
  color: #333;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
