<app-header></app-header>
<div class="main">

  <div class="time-control">
    <button (click)="addPomodoroTime()">+</button>
    <p>Pomodoro Time</p>
    <button (click)="subPomodoroTime()">-</button>
  </div>
  <div class="timer-circle" id="timer">{{ timer }}</div>
  <div class="control-buttons">
    <button (click)="togglePauseResume()">
      {{ isPaused ? 'Start' : 'Pause' }} <!-- Change button text based on isPaused -->
    </button>
    <button (click)="restartTimer()">Restart</button> <!-- Rename button to Restart -->
    <button (click)="chooseTime()">Choose Break Time</button>
  </div>
</div>
