<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SmartStudy - Eleva tu juego de estudio</title>
  <link rel="stylesheet" href="home.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<header>
  <img src="https://assets-global.website-files.com/65e1b93a72988184d4ca16d6/65e1c6ce8292100cb53973c9_smartstudy-high-resolution-logo-white-transparent.png" alt="Logo de SmartStudy" class="logo">
  <nav>
    <a routerLink="/login" class="login-btn">Iniciar sesión</a>
  </nav>
</header>

<div class="banner">
  <h1 class="banner-heading">SmartStudy Calendar</h1>
  <p class="banner-text">Tu plataforma definitiva para el estudio organizado.</p>
</div>

<section class="features">
  <div class="feature-item">
    <i class="fas fa-tasks"></i>
    <h3>Gestión de Tareas</h3>
    <p>Organiza tus tareas de estudio de forma efectiva.</p>
  </div>
  <div class="feature-item">
    <i class="fas fa-brain"></i>
    <h3>Estrategias de Aprendizaje</h3>
    <p>Aplica técnicas comprobadas para mejorar el aprendizaje.</p>
  </div>
  <div class="feature-item">
    <i class="fas fa-edit"></i>
    <h3>Notas y Recordatorios</h3>
    <p>Crea notas y establece recordatorios para un estudio más organizado.</p>
  </div>
  <div class="feature-item">
    <i class="fas fa-clock"></i>
    <h3>Gestión del Tiempo</h3>
    <p>Optimiza tu horario de estudio para una máxima eficiencia.</p>
  </div>
  <div class="feature-item">
    <i class="fas fa-chart-line"></i>
    <h3>Seguimiento del Progreso</h3>
    <p>Controla tu progreso de estudio y establece metas.</p>
  </div>
  <div class="feature-item">
    <i class="fas fa-stopwatch"></i>
    <h3>Pomodoro Timer</h3>
    <p>Utiliza la técnica del Pomodoro para mejorar tu productividad y concentración.</p>
  </div>
  <div class="feature-item">
    <i class="far fa-calendar-alt"></i>
    <h3>Calendario</h3>
    <p>Organiza tu tiempo de estudio y tus eventos importantes con nuestro calendario integrado.</p>
  </div>
  <div class="feature-item">
    <i class="fas fa-chalkboard"></i>
    <h3>Horarios de Clase</h3>
    <p>Administra tus horarios de clase de manera eficiente para no perder ninguna clase.</p>
  </div>
</section>

<section class="pricing">
  <h2>Precios</h2>
  <p>¡SmartStudy es completamente <strong>gratis</strong>! Como proyecto nuevo, estamos comprometidos a proporcionar una herramienta efectiva para mejorar tus hábitos de estudio sin costos adicionales.</p>
  <p>¡Regístrate ahora y comienza a mejorar tu experiencia de estudio!</p>
</section>

<section class="about-us">
  <h2>Quiénes Somos</h2>
  <p>Somos un equipo de estudiantes de la Universidad de Gran Canaria. Nos hemos unido para desarrollar SmartStudy, una aplicación para gestionar los estudios. Hemos detectado problemas comunes entre los estudiantes a la hora de organizar su tiempo de estudio y queremos ofrecer una solución efectiva para mejorar su rendimiento académico.</p>
</section>

<section class="web-app">
  <h2>Aplicación Web</h2>
  <p>SmartStudy es una aplicación web basada en la nube, lo que significa que puedes acceder a tus datos desde cualquier dispositivo con conexión a Internet. Con una interfaz intuitiva y funciones poderosas, te ayudamos a optimizar tu proceso de estudio para lograr el éxito académico.</p>
</section>

<section class="quotes">
  <h2>Testimonios</h2>
  <div class="quote-item">
    <blockquote>"SmartStudy ha cambiado completamente la forma en que abordo mi estudio. ¡Realmente ha hecho una diferencia en mi vida académica!"</blockquote>
    <p>- Juan Pérez, Estudiante Universitario</p>
  </div>
  <div class="quote-item">
    <blockquote>"Nunca pensé que estudiar podría ser tan organizado y efectivo. SmartStudy me ha ayudado a alcanzar mis metas académicas de manera más rápida y eficiente."</blockquote>
    <p>- María González, Estudiante de Secundaria</p>
  </div>
</section>

<footer>
  <div class="social-icons">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <p>&copy; 2023 SmartStudy. Todos los derechos reservados.</p>
</footer>
</body>
</html>
