.reminder-container {
  background-color: #E8EDDF;
  color: #242423;
  padding: 20px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="time"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #333533;
}

button {
  background-color: #F5CB5C;
  color: #242423;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
