<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<body>
<div class="dashboard" [@dialog]>
  <aside class="sidebar">
    <div class="profile-info">
      <img [src]="userData?.profilePicture" alt="Imagen de perfil" class="profile-image" (click)="navigateTo('/profile');"/>
      <h4>{{ userData?.nombreCompleto }}</h4>
    </div>
    <app-weather-widget [context]="'dashboard'"></app-weather-widget>
    <nav class="sidebar-nav">
      <label class="switch">
        <input type="checkbox" [checked]="isDarkModeEnabled" (change)="toggleDarkMode()">
        <div class="slider round">
          <span class="dark">Oscuro</span>
          <span class="white">Claro</span>
        </div>
      </label>
      <a class="sidebar-link" (click)="navigateTo('/profile');"><i class="fas fa-cog"></i> Configuración de cuenta</a>
      <a class="sidebar-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
    </nav>
  </aside>
  <div class="content">
    <header class="cabecera">
    </header>
    <div class="main-content">
      <div class="grid-item" (click)="navigateTo('/calendar')"><i class="fas fa-calendar-alt"></i> Calendario</div>
      <div class="grid-item" (click)="navigateTo('/notes')"><i class="fas fa-clipboard-list"></i> Notas</div>
      <div class="grid-item" (click)="openSubjectManager()"><i class="fa solid fa-book-open"></i> Asignaturas</div>
      <div class="grid-item" (click)="navigateTo('/pomodoro')"><i class="fa solid fa-stopwatch"></i> Pomodoro</div>
      <div class="grid-item" (click)="navigateTo('/reminders')"><i class="fa regular fa-bell"></i> Recordatorios</div>
      <div class="grid-item" (click)="navigateTo('/todo')"><i class="fa solid fa-list"></i> To-Do</div>
      <div class="grid-item" (click)="navigateTo('/timetable')"><i class="fa solid fa-table"></i> Horario</div>
    </div>
  </div>

  <div class="progress-bar-container">
    <div class="progress-bar high" [style.width]="highCompletedPercentage + '%'">
      <span class="label">Tareas de Alta Prioridad: {{ highCompletedPercentage | number:'1.0-0' }}%</span>
    </div>
    <div class="progress-bar medium" [style.width]="mediumCompletedPercentage + '%'">
      <span class="label">Tareas de Media Prioridad: {{ mediumCompletedPercentage | number:'1.0-0' }}%</span>
    </div>
    <div class="progress-bar low" [style.width]="lowCompletedPercentage + '%'">
      <span class="label">Tareas de Baja Prioridad: {{ lowCompletedPercentage | number:'1.0-0' }}%</span>
    </div>
  </div>

</div>
<script src="animations.js"></script>
</body>
<app-subject-manager *ngIf="showSubjectManager" (close)="closeSubjectManager()"></app-subject-manager>
