@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  background-color: var(--default-background);
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: var(--default-sidebar);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.profile-info {
  text-align: center;
}

.profile-icon {
  font-size: 60px;
  color: var(--default-text);
  margin-bottom: 10px;
}

.profile-info h4 {
  color: var(--default-text);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: var(--default-text);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-link:hover {
  background-color: var(--default-buttons);
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cabecera {
  background: var(--default-background);
  padding: 20px;
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: var(--default-buttons);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  color: var(--default-text);
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.grid-item i {
  font-size: 24px;
}

.dark-mode-switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--default-buttons);
  transition: .4s;
  border-radius: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  transform: translateX(4px);
  z-index: 2;
}

.dark {
  display: none;
}

.dark, .white {
  color: var(--default-text);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.white {
  left: auto;
  right: 10px;
  display: block;
}

input:checked + .slider .dark {
  left: 30px;
  right: auto;
  display: block;
}

input:checked + .slider .white {
  display: none;
}


input:checked + .slider {
  background-color: var(--default-buttons);
}

input:checked + .slider:before {
  transform: translateX(55px);
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main-content {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
