<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">

<div class="header">

  <div class="header-left">

    <a href="#" class="logo-link">
      <!-- <i class="far fa-tachometer-alt logo-icon"></i> -->
      <span class="logo-text">SmartStudy</span>
    </a>

    <button (click)="toggleMenu()" type="button" class="menu-toggle-button" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="menu-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>

    <div class="navbar" [ngClass]="{'hidden': !showMenu}" id="navbar-default">
      <ul class="nav-list">
        <li><a (click)="navigateTo('/dashboard')" class="menu-item">Dashboard</a></li>
        <li><a (click)="navigateTo('/calendar')" class="menu-item">Calendario</a></li>
        <li><a (click)="navigateTo('/notes')" class="menu-item">Notas</a></li>
        <li><a (click)="navigateTo('/reminders')" class="menu-item">Recordatorios</a></li>
        <li><a (click)="navigateTo('/todo')" class="menu-item">To-Do</a></li>
        <li><a (click)="navigateTo('/pomodoro')" class="menu-item">Pomodoro</a></li>
        <li><a (click)="navigateTo('/timetable')" class="menu-item" cursor="pointer">Horario</a></li>
        <li><a (click)="navigateTo('/profile')" class="menu-item" cursor="pointer">Profile</a></li>
      </ul>
    </div>

  </div>

  <div class="user-menu-container">
    <label class="menu-item switch">
      <input type="checkbox" [checked]="isDarkModeEnabled" (change)="toggleDarkMode()">
      <div class="slider round"><span class="dark">Oscuro</span><span class="white">Claro</span></div>
    </label>
    <a (click)="toggleNotifications()" class="user-item"><i class="far fa-bell"></i></a>
    <a (click)="toggleWeather()" class="user-item"><i class="fas fa-cloud-sun"></i></a>
    <a (click)="navigateTo('/profile')" class="user-item"><i class="far fa-user"></i></a>
    <a (click)="logout()" class="logout-item"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
  </div>

  <div *ngIf="showNotifications" class="notification-wrapper"><app-notification></app-notification></div>
  <div *ngIf="showWeather" class="weather-wrapper"><app-weather-widget [context]="'header'"></app-weather-widget></div>

</div>
