/* Configuración básica y estilos globales */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--default-text);
}

/* Estilos principales del encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--default-bars);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

/* Configuraciones del contenedor del menú y del usuario */
.menu, .user-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.user-menu {
  margin-top: 10px;
}

/* Estilos de los items de menú y usuario */
.menu-item, .user-item, .logout-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--default-text);
  font-size: 18px;
  background-color: var(--default-buttons);
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-item:hover, .user-item:hover, .logout-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Iconos y animación para notificaciones */
.far, .fas {
  font-size: 20px;
}
.notification-wrapper {
  animation: slideInDown 0.3s ease-out forwards;
}

/* Sección para ajustes de estilo adicionales del header */
.header-container {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

/* Estilos para links y textos dentro del header */
.header-container a {
  color: var(--default-text);
}

/* Configuraciones de estilo del logo y texto */
.logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
}
[dir="rtl"] .logo-link {
  gap: -12px;
}
.logo-icon, .logo-text {
  font-size: 1.25rem;
}
.logo-text {
  font-weight: 600;
}

/* Estilos para el botón de menú desplegable */
.menu-toggle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: var(--default-text);
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}
.menu-toggle-button:hover {
  background-color: var(--default-buttons);
}
.menu-toggle-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #E5E7EB;
}
.menu-icon {
  width: 20px;
  height: 20px;
}

/* Configuraciones de estilo responsivas para el contenedor de la barra de navegación */

.header-container {
  position: relative;
}

.navbar {
  position: absolute;
  top: 10%;
  left: 10%;
  width: auto;
  background-color: var(--default-toggle-button);
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  z-index: 1000;
  display: none;
}

.nav-list li a {
  display: block;
  padding: 10px 20px;
  color: var(--default-text);
  text-decoration: none;
  background-color: var(--default-buttons);
  border-radius: 5px;
  text-align: center;
  width: 150px;
  height: 40px;
  box-sizing: border-box;
}

.nav-list li {
  margin: 10px 0 10px 15px;
}

@media (max-width: 768px) {
  .nav-list li a {
    width: 150px;
    height: 40px;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--default-toggle-button);
}

.nav-list li {
  border-bottom: none;
}

.nav-list li a {
  color: var(--default-text);
  text-decoration: none;
}

.navbar.active {
  display: block;
}

/* Estilos para el menú del usuario en modo responsivo y modo oscuro */
.user-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--default-bars);
  padding: 10px;
  gap: 10px;
}

@media (min-width: 768px) {
  .user-menu-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    border: none;
    width: auto;
  }
}
.user-item, .logout-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 8px 0;
}
.user-item i, .logout-item i {
  margin-right: 8px;
}

/* Estilos específicos para los interruptores y su animación */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  margin: 0 0px;
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--default-buttons);
  transition: .4s;
  border-radius: 17px;
  display: flex;
  align-items: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  transform: translateX(4px);
}

input:checked + .slider:before {
  transform: translateX(50px);
}

.dark, .white {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  color: var(--default-text);
}

.dark {
  left: 10px;
  right: auto;
  display: none;
}

.white {
  right: 10px;
  left: auto;
  display: block;
}

input:checked + .slider .dark {
  display: block;
}

input:checked + .slider .white {
  display: none;
}

input:not(:checked) + .slider .dark {
  display: none;
}

input:not(:checked) + .slider .white {
  display: block;
}

/* Estilos adicionales para la imagen de perfil y la animación del widget del tiempo */
.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--default-text);
}
.header-weather-widget-container {
  width: 300px;
  max-height: 600px;
  overflow-y:auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: var(--header);
  position: fixed;
  right: 0;
  z-index: 1050;
  animation: fadeIn 0.5s ease-out forwards;
}

/* Extras */
.header-left {
  display: flex;
  align-items: center;
}

.header-left a, .header-left button {
  margin-right: 20px;
}

/* Asegúrate de que los botones individuales no tienen margen que interfiera */
.user-item, .logout-item, .switch {
  margin: 0;
  padding: 8px 16px;
}

/* Mejora visual opcional para los íconos y botones */
.user-item i, .logout-item i {
  font-size: 1.25rem;
}

.header-left a span {
  color: var(--default-text);
}
