<div class="subject-viewer-overlay" *ngIf="selectedCourse" [@dialog]>
  <div class="subject-viewer-container">
    <span class="close-button" (click)="closeDialog()">&#10005;</span>
    <h5>{{ selectedCourse.name }}</h5>
    <div class="course-details">
      <p>{{ selectedCourse.description }}</p>
      <h6>Profesores:</h6>
      <ul>
        <li *ngFor="let professor of professors">
          <div>{{ professor.name }}</div>
          <a href="mailto:{{ professor.email }}" class="professor-email">
            {{ professor.email }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
