.full-page-background {
  background-color: var(--default-background);
  min-height: 100vh;
  width: 100%;
  position: relative;
}

:host {
  display: block;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.profile-banner {
  width: 100%;
  background-color: var(--default-background); /* Gris para el banner */
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.profile-image-container {
  transform: translateY(-25%);
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--default-buttons); /* Hacer que la imagen resalte sobre el banner */
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -75px; /* Ajustar según sea necesario para que la imagen sobresalga correctamente */
  padding: 20px;
  background-color: var(--default-background); /* Gris no tan oscuro */
  width: 100%; /* Ajustar el ancho para igualar al banner, considerando el padding del host */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px;
  color: var(--default-text); /* Texto blanco */
}

.profile-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-detail-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: var(--default-text);
}

.fa-icon {
  margin-right: 10px;
  font-size: 20px;
  color: var(--default-text);
}

.edit-user-info-button {
  background-color: var(--default-sidebar);
  color: var(--default-text);
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.edit-user-info-button:hover {
  background-color: var(--reminders);
  transform: translateY(-2px);
}

input{
  width: auto;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--default-buttons);
  border-radius: 8px;

}

@media (max-width: 768px) {
  .profile-info-container, .profile-details {
    align-items: center;
    width: 100%; /* Asegura que la responsividad mantiene el ajuste de ancho */
  }
}
