:root {
  --default-sidebar: #F5CB5C;
  --default-background: #ffffff;
  --default-buttons: rgba(148, 150, 152, 0.22);
  --default-text: #242423;
  --reminders: #333533;
  --text-reminders: #E8EDDF;
  --header: #FFFFFF;
  --background-reminder: #CFDBD5;
  --default-bars: #cdcdcd;
}
.dark-mode {
  --default-sidebar: #333533;
  --default-background: #242423;
  --default-buttons: rgb(0, 0, 0);
  --default-text: #E8EDDF;
  --reminders: #E8EDDF;
  --text-reminders: #242423;
  --header: #242423;
  --background-reminder: #333533;
  --default-bars: rgba(126, 127, 133, 0.22);
}
